
<div id="chart_div">
    <div id = "title_chart">
        </br></br></br>
        <button type="button" ng-click="onClickMonth()"  class="btn btn-info">Month</button>
        <button type="button" ng-click="onClickYear()"  class="btn btn-warning">Year</button>
        <p>{{jsond}}</p>
    </div>
    </br>
    <div class = "row">
        <!--tai nan theo ngay-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cab fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1 class="huge">{{accidentD}}</h1>
                            <div>Accidents totay</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="panel-footer">
                        <span class="pull-left">Accident statistics by time in Ho Chi Minh city</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <!--hoa hoan theo ngay-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1 class="huge">{{fireD}}</h1>
                            <div>Fires totay</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="panel-footer">
                        <span class="pull-left">Fire statistics by time in Ho Chi Minh city</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <!--tai nan theo lua chon thang hoac nam-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cab fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1 class="huge">{{accidentC}}</h1>
                            <div>{{accchoose}}</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="panel-footer">
                        <span class="pull-left">Accident statistics by time in Ho Chi Minh city</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <!--hoa theo lua chon thang hoac nam-->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1 class="huge">{{fireC}}</h1>
                            <div>{{firechoose}}</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="panel-footer">
                        <span class="pull-left">Fire statistics by time in Ho Chi Minh city</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div>
        </br>
        </br>
        </br>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>
            Accident and Fire Chart by Day
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8" id = "draw_chart_day"></div>
                <div class="col-lg-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Accident</th>
                                <th>Fire</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tk in ChartDay">
                                <td>{{tk.time}}</td>
                                <td>{{tk.accident}}</td>
                                <td>{{tk.fire}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--thong ke theo tuan-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>
            Accident and Fire Chart by Week
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8" id = "draw_chart_week"></div>
                <div class="col-lg-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Accident</th>
                                <th>Fire</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tk in ChartWeek">
                                <td>{{tk.time}}</td>
                                <td>{{tk.accident}}</td>
                                <td>{{tk.fire}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!--Thong ke theo thanh-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
                Accident and Fire Chart by Month
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-9" id = "draw_chart_month"></div>
                    <div class="col-lg-3">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Accident</th>
                                    <th>Fire</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="tk in ChartMonth">
                                    <td>{{tk.time}}</td>
                                    <td>{{tk.accident}}</td>
                                    <td>{{tk.fire}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</div>