<div id="home">

    <div class="page-contents">
        <div class="container">
            <div class="home-top clearfix">
                <div class="col-md-8">
                    <h1 class="page-header"><p>Get the best route, every day,</p><p>with real–time help from other </p></h1>
                    <p class="subtitle">Waze is the world's largest community-based traffic and
                        navigation app. Join other drivers in your area who share real-time
                        traffic and road info, saving everyone time and gas money on their
                        daily commute.</p>
                    <p class="outsmarting">Waze. Outsmarting Traffic, Together.</p>
                    <div align="center">
                        <a href="https://play.google.com/store/apps/details?id=tttn.notify&hl=vi" target="_blank"> <img src="./images/google_play.png" height="60px" width="150px"></a>
                    </div>
                </div>
                <div class="col-md-4 img-layout" style="border-radius: 4px; border: solid 1px cornflowerblue">
                    <p>
                    <iframe align="right" class="img-header" width="280" height="240" src="https://www.youtube.com/embed/Sc7FE67U160" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>

                <div class="clearfix"></div>

                <!--<div class="carpool-badge clearfix" href="/carpool">-->
                    <!--<div class="car-img"></div>-->
                    <!--<div class="carpool-logo"></div>-->
                    <!--<div class="text header">Hello carpool lane!</div>-->
                    <!--<div class="text">Pilot is now live in the Bay Area</div>-->
                    <!--<a class="learn-link" href="/carpool">Learn More</a>-->
                <!--</div>-->

            </div>
            <div class="homepage-items">
                <div class="odd">
                    <div class="col-md-5 ">
                        <img class="img-items" src="./images/image-1.png">
                    </div>
                    <div class="col-md-7 text">
                        <h2 class="title-odd"><p>Nothing can beat real people</p><p>working together</p></h2>
                        <div class="body">Imagine millions of drivers out on the roads, working together towards a
                            common goal: to outsmart traffic and get everyone the best route to work
                            and back, every day.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="even">
                    <div class="col-md-7 text">
                        <h2 class="title-even"><p>Nothing can beat real people</p><p>working together</p></h2>
                        <div class="body">Imagine millions of drivers out on the roads, working together towards a
                            common goal: to outsmart traffic and get everyone the best route to work
                            and back, every day.</div>
                    </div>
                    <div class="col-md-5 ">
                        <img class="img-items" src="./images/image-1.png">
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>

    <div class="page-footer">
        <div class="container footer-top">
            <div class="col-md-4 menu">
                <div class="menu-header">Support</div>
                <ul>
                    <li><a href="https://support.google.com/waze/?hl=en">Top Items</a></li>
                    <li><a href="https://support.google.com/waze/answer/7101380?hl=en">Fix a map issue</a></li>
                    <li><a href="/forum/">Community Forums</a></li>
                    <li><a href="https://wazeopedia.waze.com">Community Wiki</a></li>
                    <li><a href="https://www.youtube.com/watch?v=HVksbb1Z4SQ">About map editing</a></li>
                </ul>
            </div>
            <div class="col-md-4 menu">
                <div class="menu-header">Social</div>
                <ul>
                    <li><a href="https://blog.waze.com">Blog</a></li>
                    <li><a href="https://www.facebook.com/Waze">Waze on Facebook</a></li>
                    <li><a href="https://twitter.com/waze">Waze on Twitter</a></li>
                    <li><a href="https://plus.google.com/u/2/b/112705110135772710409/112705110135772710409/posts">Waze on Google+</a></li>
                    <li><a href="http://instagram.com/waze">Waze on Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-4 menu">
                <div class="menu-header">About</div>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/about/team">The Team</a></li>
                    <li><a href="https://www.google.com/about/careers/jobs#t=sq&amp;q=j&amp;l=false&amp;j=waze">Jobs</a></li>
                    <li><a href="/about/press_resources">Press Resources</a></li>
                    <li><a href="/about/dev">Developers</a></li>
                    <li><a href="/about/contact">Contact Us</a></li>
                    <li><a target="_blank" href="https://shop.googlemerchandisestore.com/Google+Redesign/Waze">Waze Store</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container footer-bottom">
        <ul class="legal-menu">
            <li>
                <a href="/legal/tos">Terms of Use
                </a></li>
            <li>
                <a href="/legal/privacy">Privacy Policy
                </a></li>
            <li style="border-right: 0px">
                <a href="/legal/copyright">Copyright Notice</a>
            </li>
        </ul>
        <div class="copyrights">
            <div class="logo"></div>
            © 2006-2017 Waze Mobile. All Rights Reserved.
        </div>
    </div>

</div>